/* add css module styles here (optional) */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.btn-primary {
  background-color:rgb(33, 33, 33);
  color: white;
  padding: 0.7em 1.3em 0.7em 1.3em;
  font-size: 1em;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: black;
  cursor: pointer;
}
.btn-primary-long{
  background-color:rgb(33, 33, 33);
  color: white;
  padding: 0.7em 3.2em 0.7em 3.2em;
  font-size: 1em;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}
.btn-primary-long:hover {
  background-color: black;
  cursor: pointer;
}
.btn-primary-bold{
  background-color:rgb(33, 33, 33);
  color: white;
  padding: 1.1em 1.4em 1.1em 1.4em;
  font-size: 1em;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}
.btn-primary-bold:hover {
  background-color:black;
  cursor: pointer;
}
.btn-default{
  background-color: transparent;
  padding: 0.7em 1.3em 0.7em 1.3em;
  font-size: 1em;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
}
.btn-default:hover{
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  color: black;
}
.btn-dashed{
  background-color: transparent;
  padding: 0.7em 1.3em 0.7em 1.3em;
  font-size: 1em;
  text-align: center;
  border: 2px dashed gray;
  border-radius: 5px;
}
.btn-dashed:hover{
  border: 2px dashed rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.btn-text{
  background-color: transparent;
  padding: 0.7em 1.3em 0.7em 1.3em;
  font-size: 1em;
  text-align: center;
  border: none;
  color: black;
}
.btn-text:hover{
  text-decoration: underline;
  cursor: pointer;
}
.btn-link{
  background-color: transparent;
  padding: 0.7em 1.3em 0.7em 1.3em;
  font-size: 1em;
  border: none;
  color: rgb(55, 154, 188);
  display: flex;
  text-align: start;
}
.btn-link:hover{
  text-decoration: underline;
  cursor: pointer;
}
.fancy-font{
  font-family: 'Shadows Into Light', cursive;
  font-size:x-large;
}
.loremborder{

  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1.2em;

}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.lorem-col-2{
  column-count: 2;
  column-rule: 2px solid gray;
}
.lorem-col-3{
  column-count: 3;
  column-rule: 2px solid gray;
}
.lorem-col-4{
  column-count: 4;
  column-rule: 2px solid gray;
}
.lorem-header{
  font-family: 'Shadows Into Light', cursive;
  font-size:3.5em;
}
.center{
  display: flex;
  text-align: center;
  justify-content: center;
}
.mt-s{
  margin-top: 2.5em;
}
.lorem-footer{
  margin-top: 2em;
  height: 40vh;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.lorem-footer-list-left{
  display: flex;
  float: left;
}
.lorem-footer-list-right{
  display: flex;
  float: right;
}